#nav {
    background-color: #e30074;
    color: #F4EEE8;
}
#navi {
    background-color: #e30074;

}
a {
      color: #ebebeb;
}

html, body {
    ᅠᅠheight: 100%;
}
body {
    ᅠᅠdisplay: flex;
    ᅠᅠflex-direction: column;
}
.content {
    ᅠᅠflex: 1 0 auto;
}